################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/AzurePortalStyleNg/AzurePortalStyleNg.Ui.Web/AzurePortalStyleNg.Ui.Web.csproj.user
/AzurePortalStyleNg/AzurePortalStyleNg.Ui.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AzurePortalStyleNg/AzurePortalStyleNg.Ui.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AzurePortalStyleNg/AzurePortalStyleNg.Ui.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AzurePortalStyleNg/AzurePortalStyleNg.Ui.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AzurePortalStyleNg/AzurePortalStyleNg.Ui.Web/!!Out-Nuget
/AzurePortalStyleNg/AzurePortalStyleNg.Ui.Web/bin
/AzurePortalStyleNg/AzurePortalStyleNg.Ui.Web/obj/Debug
/AzurePortalStyleNg/AzurePortalStyleNg.Ui.Web/obj/Release/Package/PackageTmp
/AzurePortalStyleNg/AzurePortalStyleNg.Ui.Web/obj/Release
/AzurePortalStyleNg/packages
/AzurePortalStyleNg/AzurePortalStyleNg.Ui.Web/!NugetOut
