<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ardimedia.com" value="https://nuget.ardimedia.com/nuget" />
    <add key="ardimedia.com-visualstudio" value="https://ardimedia.pkgs.visualstudio.com/_packaging/private-am/nuget/v3/index.json" />
  </packageSources>
</configuration>