/* This libraries contains some mixin*/
html, body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%; }

/*
PORTAL SHELL:
    fxs-portal:             contains everything
    fxs-portal-content:     contains the content. eg. no navbar
    fxs-panorama:           contains homearea and journey
    fxs-panorama-homearea:  contains the "desktop"
    fxs-panorama-journey:   contains the on/off "views"
    fxs-portal-appbar:      top application bar (not yet implemented)

PORTAL VIEW:
    fxs-stacklayout-child:  is exactly one view
*/
/*#region PORTAL SHELL*/
.fxs-portal {
  /*height: 100%;*/
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*-ms-scroll-chaining: none;*/ }

.fxs-portal .fxs-portal-content {
  height: 100%;
  color: #464f59;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-transition: margin 0.2s ease;
  -moz-transition: margin 0.2s ease;
  -o-transition: margin 0.2s ease;
  transition: margin 0.2s ease; }

.fxs-portal .fxs-portal-content > * {
  white-space: normal; }

.fxs-panorama {
  -ms-scroll-chaining: none; }

.fxs-panorama-homearea {
  min-width: 500px; }

.fxs-panorama .fxs-panorama-homearea {
  position: relative;
  padding: 0 25px;
  margin: 0 15px 0 25px; }

.fxs-panorama .fxs-journey-target {
  margin-right: 85px; }

.fxs-panorama .fxs-panorama-homearea, .fxs-panorama .fxs-journey-target {
  display: inline-block;
  vertical-align: top;
  height: 100%; }

.fxs-journey {
  height: 100%; }

.fxs-journey > .fxs-journey-layout {
  height: 100%; }

/*#endregion*/
/*#region PORTAL VIEW */
.fxs-journey > .fxs-journey-layout > :first-child.fxs-stacklayout-child {
  padding-left: 5px; }

.fxs-journey > .fxs-journey-layout > .fxs-stacklayout-child {
  -webkit-transition: padding-top 0.2s ease, opacity 0.2s ease;
  transition: padding-top 0.2s ease, opacity 0.2s ease; }

.fxs-stacklayout-horizontal.fxs-stacklayout {
  overflow: hidden;
  white-space: nowrap;
  height: 100%; }

.fxs-stacklayout-horizontal.fxs-stacklayout > .fxs-stacklayout-child {
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  height: 100%;
  white-space: normal; }

/*#endregion*/
body {
  /*background-color: #2e80ab;*/
  background-image: linear-gradient(to bottom, #2e80ab 0%, #61b7da 100%);
  background-repeat: no-repeat;
  font-family: wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-size: small;
  -ms-scrollbar-arrow-color: #758393;
  -ms-scrollbar-face-color: #63707e;
  -ms-scrollbar-track-color: #dcdfe2; }

/*body {
    background: #61b7da 0 0 repeat-x;
    background-image: url(../Images/MsPortalImpl/Portal_background.png?t=popn);
    background-image: -webkit-linear-gradient(to bottom,#2e80ab 0%,#61b7da 100%);
    background-image: linear-gradient(to bottom,#2e80ab 0%,#61b7da 100%);
    -ms-scrollbar-track-color: #dcdfe2;
}*/
/*# sourceMappingURL=azureportalstyleng.css.map */