<div class="fxs-portal">
    <div class="fxs-portal-top-bar fxs-portal-appbar"></div>
    <div id="azureportalscroll" class="fxs-portal-content fxs-panorama">

        <div class="fxs-panorama-homearea" ng-class="{collapsed: !vm.portalService.panorama.startboard.tiles.showTiles}" ng-show="vm.portalService.panorama.isVisible">
            <header class="fxs-pannable" ng-class="{collapsed: !vm.portalService.panorama.startboard.tiles.showTiles}">
                <h1 class="fxs-panorama-title fxs-pannable">{{vm.title}}</h1>
                <div class="fxs-avatarmenu-target fxs-avatarmenu" ng-class="{collapsed: !vm.portalService.panorama.startboard.tiles.showTiles}">
                    <a class="fxs-avatarmenu-header" href="/Account/Manage">
                        <img alt="" src="/azureportalng/images/avatar.jpg" />
                        <div class="fxs-avatarmenu-username">{{vm.user.name}}</div>
                        <div class="fxs-avatarmenu-emailaddresse">{{vm.user.emailaddress}}</div>
                    </a>
                </div>
            </header>
            <div class="fxs-startboard-target fxs-startboard fx-rightClick" ng-class="{collapsed: !vm.portalService.panorama.startboard.tiles.showTiles}">
                <div class="fxs-startboard-layout fxs-flowlayout">
                    <div class="fxs-flowlayout-childcontainer">
                        <section data-ng-repeat="tile in vm.tiles track by $index" class="fxs-tile fx-rightClick fxs-flowlayout-element" data-ng-class="{'fxs-tilesize-normal':tile.size=='normal', 'fxs-tilesize-mini':tile.size=='mini', 'fxs-tilesize-herowide':tile.size=='herowide'}" data-ng-style="{'left': tile.left, 'top': tile.top}">
                            <div class="fxs-part fxs-part-clickable" ng-click="vm.navigateTo(tile.bladePath);tile.clicked();" style="cursor:pointer;">
                                <header class="fxs-part-title">
                                    <h2 class="msportalfx-tooltip-overflow">{{tile.title}}</h2>
                                    <h3 class="msportalfx-tooltip-overflow">{{tile.subTitle}}</h3>
                                </header>
                                <section class="fxs-part-content css-scope-HubsExtension"></section>
                            </div>
                            <div class="fxs-title-overlay"></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="fxs-journey-target fxs-journey">
            <div class="fxs-journey-layout fxs-stacklayout fxs-stacklayout-horizontal">
                <div data-ng-repeat="blade in vm.blades track by $index" class="azureportalblade fxs-stacklayout-child" ng-include="blade.path"></div>
            </div>
        </div>
    </div>
</div>
